.header {
  background-color: #915c4c;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 10px 0px 60px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 30px;
  margin-bottom: 70px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(259, 259, 259, 0.2);
}

.headerTitle {
  font-size: 45px;
}

.headerDesc {
  font-size: 25px;
  margin: 20px 0px;
}

.headerBtn {
  background-color: #370d00;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  width: 110px;
  font-size: 16px;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #bd8e62;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: rgb(83, 78, 78);
  margin-left: 10px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  font-size: 15px;
}

.headerSearchText {
  color: rgb(92, 88, 88);
  cursor: pointer;
  font-size: 15px;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: rgb(92, 88, 88);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #915c4c;
  color: #915c4c;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
