.navbar {
  height: 60px;
  background-color: #915c4c;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  padding: 0px 10px;
}

.navButton {
  border-radius: 3px;
  border: 1px solid #370d00;
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  color: #370d00;
}
